@import url('https://fonts.googleapis.com/css2?family=Anek+Bangla:wght@400;500;700&family=Baloo+Da+2:wght@400;500;600;700;800&family=Plus+Jakarta+Sans:wght@400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Anek Bangla', sans-serif;
    font-family: 'Baloo Da 2', sans-serif;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

a {
    text-decoration: none;
    display: contents;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.compelete__wrap {
    width: 80%;
    border-radius: 16px;
    background: #FFF;
    box-shadow: 0px 10px 40px 0px rgba(0, 25, 73, 0.10);
    text-align: center;
    padding: 26px 20px 21px 20px;
}

.compelete__title {
    color: var(--black, #222950);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Baloo Da 2;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
    /* 228.571% */
}

.compelete__des {
    color: var(--gray, #8A94A6);
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Baloo Da 2;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 200% */
}

.cause__field {
    width: 100%;
    display: flex;
    margin-top: 22px;
}

.cause__field input {
    display: flex;
    width: 100%;
    padding: 12px 16px;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    border: 1px solid #E5E7F0;
    background: #FFF;
    color: var(--black-2, #595F84);
    font-family: Baloo Da 2;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    background-image: url(../images/down-arrow.png);
    background-repeat: no-repeat;
    background-position: 90% 50%;
}

.button__group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    margin-top: 22px;
}

.cancel__btn {
    color: #263238;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px;
    display: flex;
    width: 100%;
    padding: 12px 16px;
    justify-content: center;
    align-items: center;
    gap: 15px;
    border: 1px solid #E5E7F0;
    border-radius: 10px;
    background: #fff;
    cursor: pointer;
}

.confirm__btn {
    color: #FFF;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px;
    display: flex;
    width: 100%;
    padding: 12px 16px;
    justify-content: center;
    align-items: center;
    gap: 15px;
    border: none;
    border-radius: 10px;
    background: var(--g, linear-gradient(180deg, #258AFF 0%, #0063FF 100%));
    cursor: pointer;
}